In [1]:
import pandas as pd

In [2]:
data1 = {
    'ID': [1, 2, 3, 4, 5],
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Emma'],
    'Age': [25, 30, 35, 40, 45]
}

data2 = {
    'ID': [1, 2, 3, 4, 6],
    'Department': ['HR', 'Finance', 'Marketing', 'IT', 'Operations'],
    'Salary': [50000, 60000, 70000, 80000, 90000]
}

In [3]:
# Convert data sets to pandas DataFrames
df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

In [4]:
# a. Creating data subsets
# Subset of rows where Age is greater than 30
subset_age_greater_than_30 = df1[df1['Age'] > 30]

In [6]:
# Subset of rows where Department is 'HR'
subset_department_hr = df2[df2['Department'] == 'HR']

In [7]:
print("Subset where Age > 30:")
print(subset_age_greater_than_30)
print("\nSubset where Department is 'HR':")
print(subset_department_hr)

Subset where Age > 30:
   ID     Name  Age
2   3  Charlie   35
3   4    David   40
4   5     Emma   45

Subset where Department is 'HR':
   ID Department  Salary
0   1         HR   50000

In [8]:
# b. Merging data
# Merge data frames on 'ID'
merged_data = pd.merge(df1, df2, on='ID', how='inner')

In [9]:
# Display merged data
print("\nMerged Data:")
print(merged_data)

Merged Data:
   ID     Name  Age Department  Salary
0   1    Alice   25         HR   50000
1   2      Bob   30    Finance   60000
2   3  Charlie   35  Marketing   70000
3   4    David   40         IT   80000

In [49]:
#New Answer 
import pandas as pd

In [50]:
#Dataframe
data = {"Roll-num": [10,20,30,40,50,60,70], "Age":[12,14,13,12,14,13,15], 
"NAME":['John','Camili','Rheana','Joseph','Amanti','Alexa','Siri']}

In [51]:
block = pd.DataFrame(data)

In [52]:
print(block)

   Roll-num  Age    NAME
0        10   12    John
1        20   14  Camili
2        30   13  Rheana
3        40   12  Joseph
4        50   14  Amanti
5        60   13   Alexa
6        70   15    Siri

In [53]:
print(block.loc[[0,1,3]])

   Roll-num  Age    NAME
0        10   12    John
1        20   14  Camili
3        40   12  Joseph

In [54]:
print(block.loc[0:3])

   Roll-num  Age    NAME
0        10   12    John
1        20   14  Camili
2        30   13  Rheana
3        40   12  Joseph

In [55]:
print(block.loc[0:2,['Age','NAME']])

   Age    NAME
0   12    John
1   14  Camili
2   13  Rheana

In [56]:
print(block.iloc[[0,1,3,6],[0,2]])

   Roll-num    NAME
0        10    John
1        20  Camili
3        40  Joseph
6        70    Siri

In [57]:
#Merging
d1 = {'Name': ['Pankaj', 'Meghna', 'Lisa'], 'Country': ['India', 'India', 'USA'], 'Role': ['CEO', 
'CTO', 'CTO']}

In [58]:
df1 = pd.DataFrame(d1)

In [59]:
print('DataFrame 1:\n', df1)

DataFrame 1:
      Name Country Role
0  Pankaj   India  CEO
1  Meghna   India  CTO
2    Lisa     USA  CTO

In [60]:
df2 = pd.DataFrame({'ID': [1, 2, 3], 'Name': ['Pankaj', 'Anupam', 'Amit']})

In [61]:
print('DataFrame 2:\n', df2)

DataFrame 2:
    ID    Name
0   1  Pankaj
1   2  Anupam
2   3    Amit

In [62]:
df_merged = df1.merge(df2)

In [63]:
print('Result Inner Join:\n', df_merged)

Result Inner Join:
      Name Country Role  ID
0  Pankaj   India  CEO   1

In [64]:
print('Result Left Join:\n', df1.merge(df2, how='left'))

Result Left Join:
      Name Country Role   ID
0  Pankaj   India  CEO  1.0
1  Meghna   India  CTO  NaN
2    Lisa     USA  CTO  NaN

In [65]:
print('Result Right Join:\n', df1.merge(df2, how='right'))

Result Right Join:
      Name Country Role  ID
0  Pankaj   India  CEO   1
1  Anupam     NaN  NaN   2
2    Amit     NaN  NaN   3

In [66]:
print('Result Outer Join:\n', df1.merge(df2, how='outer'))

Result Outer Join:
      Name Country Role   ID
0  Pankaj   India  CEO  1.0
1  Meghna   India  CTO  NaN
2    Lisa     USA  CTO  NaN
3  Anupam     NaN  NaN  2.0
4    Amit     NaN  NaN  3.0